.container{
    max-width: 1024px;
    width: 100%;
    min-height: 100%;
    margin: auto;
    position: relative;
}

#chartBar{
    width: 100%;
    float: left;
}

.chartContainer{
    float: left;
    width: 50%;
}