.container{
    margin-top: 100px;
}
#downloadLinkContainer li{
    background: #c7cccc;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    display: inline-block;
    width: 100%;
}
#downloadLinkContainer p{
    padding-left: 8px;
    width: 75%;
    float: left;
    margin-bottom: 0px;
}
#downloadLinkContainer button{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
#downloadLinkContainer li:nth-child(odd){
    background: #f0feff;
}